<nav class="mt-3">
	<ul class="nav justify-content-end">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Accueil</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Portfolio</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Contact</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled">Disabled</a>
		</li>
		{# <li class="nav-item">
			<a class="nav-link{{ currentRoute == 'accueil' ? ' active" : '' }}" href="#">Link</a>
		</li>
		<li class="nav-item">
			<a class="nav-link{{ currentRoute == 'portfolio' ? ' active" : '' }}" href="#">Link</a>
		</li>
		<li class="nav-item">
			<a class="nav-link{{ currentRoute == 'contact' ? ' active" : '' }} disabled">Disabled</a>
		</li> #}
	</ul>
</nav>